.timeline{
    width: 100%;
    height: 100vh;

    font-family: malgun;
}

.selectSection{
    padding-top: 1rem;
}

.yearval{
    padding-left: 1rem;
    padding-right: 1rem;
}

.timeline_row{
    
    display: flex;
    justify-content: center;
}

.timeline-controls{
    display: flex;
    justify-content: center;
    border-radius: 0% !important; 
    background-color: white !important;
    box-shadow: none !important;
    
}
.e1gmwefz4 {
    height: 10rem !important;
}

.e1fht2ox4 {
    width: 10vmax !important;
    border-radius: 0% !important;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);

}




.ant-btn:hover{
    border-color: rgb(14, 0, 66) !important;
}

.articleCard{
    position: relative;
    overflow: hidden;


    width: 95vw;
    height: 30vh;
    margin-top: 10px;
    
    background-position: right;
    background-position-y: 5;
    background-size: 50%;
    background-repeat: no-repeat;
    border-radius: 30px;

    

    
}


.timeline-card-content{
    width: 100% !important;
    -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0)) !important;
    height: 60vh !important;
} 

.card-description {
    width: 100% !important;
    padding: 20px !important;
}

.Card{
    text-align: center;
}

.clusterhead{
    width: 100%;
    text-align: center;

    font-weight: bold;
    font-size: 3em;
}

.clusterdate{
    font-weight: bold;
    font-size: 2em;
}

.ergoa4r0{
    font-size: 0.9em !important;
}

.timeline-item-title{
    
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 7, 104) !important;
    width: 100% !important;
    
    border-radius: 10px !important;
    height: 4em !important;
    width: 13em !important;
    transition:  background-color  0.3s ease-in-out;
    
}


.ergoa4r0.active{
    transition:  color  0.3s ease-in-out;
    color: white !important;
    background-color: rgb(0, 87, 250) !important;
}
.ergoa4r0.active::after{

    content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 16px 0px 17.5px;
	border-color: rgb(0, 87, 250) transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: 50px; 
	left: 40%; 

    z-index: 4;
}

.timeline-item-title::after{

	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 16px 0px 17.5px;
	border-color: rgb(0, 7, 104) transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: 50px; 
	left: 40%; 

    z-index: 4;
}

.e5foh871{
    margin-top: -2.1rem !important;
} 

.wait{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    font-size: 10em;
    font-weight: 500;
    padding: 2em;
    
} 

.ant-spin-dot{
    width: 4em !important;
    height: 4em !important;
}

.ant-spin-dot-item{
    width: 2em !important;
    height: 2em !important;
}


.timelinebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    height: 1.7em;

    padding-bottom: 2px;

    border-radius: 50%;

    

    z-index: 0;
}

.timelinebutton:hover{
    /* transition:  border 0.5s ease-in;
    border: 1px rgb(0, 87, 250) solid; */
}


.e5foh872.active.using-icon{
    transition:  background-color 0.2s ease-in;
    color: white;
    background-color: rgb(0, 87, 250);
    border-color: rgb(0, 87, 250) !important;
}

.articlecontent{
    width: 100%;
    display: flex;
    justify-content: left;

    text-align: left;

    flex-direction: column;
}

.wordcloud{
    object-fit: cover;
}